@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    background-color: #444;
    font-family: "outfit","serif";
}

.container{
    text-align: center;
}